/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-abr-2018, 11:25:18
    Author     : Informatica
*/


body{
    background: rgba(0,77,64,.5);

}

.tarjeta{
    
    background: whitesmoke;
    border-radius: 10px 10px;
    justify-content: center;


}

.right-15{
    right: 15px;
}
.left-15{
    left: 15px;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.item{

}